#landing-page
{
/*background-image: url('/img/_DSC2345Web_res_6_12_.jpg');*/
background-image: url('ry-hebert.github.io/2341/assets/img/_DSC2345Web_res_6_12_.jpg');
background-repeat: no-repeat;
background-position: bottom, center;
height: 100vh;
}